.dialog-95 {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

.example-button:hover {
  padding: 0 14px;
  background-color:transparent;

}

.mat-button-focus-overlay {
  background-color:transparent;
}

.mat-button {
  background-color:transparent;
}


.cdk-focused {
  background-color:transparent;
}

.cdk-mouse-focused {
  background-color:transparent;
}