<hr/>
<h2>
Data Table & Paginator
</h2>


<div class="example-container mat-elevation-z8">
    <mat-table #table2 [dataSource]="dataSource2">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      <!-- edit Column -->
      <ng-container matColumnDef="editcol" >
          <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
          <mat-cell  *matCellDef="let element">
              <button mat-icon-button (click)="startEditDialog(0, element.position, element.name, element.weight, element.symbol)">
                  <mat-icon aria-label="Edit this item">create</mat-icon>
                </button>
          </mat-cell>
      </ng-container>
  

      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator2
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
</div>

